.smol {
  display: flex;
  align-items: center;

  width: 300px;
  height: 300px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 80%;
  flex: 1;
  width: 50%;
  padding: 10px;
}

.mpages {
  margin-top: 2%;
  background-color: transparent;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
  font-family: "couturebold";
}

.coverart {
  width: 100%;
  max-width: 250px;
  height: 100%;
  color: white;
  border-radius: 15px;
}

.coverart:hover {
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.192);
  transform: scale(1.03);
  transition: 0.35s;
}

.tcap {
  font-size: 200%;
}
.tcap2 {
  font-size: 90%;
  margin-top: 4px;
}

.row {
  display: flex;

  width: 70%;
  align-content: center;
  justify-content: center;
  height: 100%;
}

a {
  margin: 0;
}
.music {
  text-align: center;

  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: transparent;
}
